<!DOCTYPE html>
<html>
<head>
    <title>Disease Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Select Symptoms</h2>
    
    <form method="POST" action="/predict">
        {% for symptom in symptoms %}
            <input type="checkbox" name="symptoms" value="{{ symptom }}"> {{ symptom }}<br>
        {% endfor %}
        <button type="submit">Predict</button>
    </form>

    {% if prediction_text %}
        <h3>{{ prediction_text }}</h3>
    {% endif %}
</body>
</html>